# ROS2 build artifacts
ros_ws/build/
ros_ws/install/
ros_ws/log/

#colcon artifacts
build/
install/
log/

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS/editor
.DS_Store
.vscode/
.idea/

# Data / models / logs
weights/
data/
models/
*.pt
*.pth
*.onnx
*.engine
*.safetensors
*.bin


# Misc
*.log
cusparselt-local-tegra-repo-ubuntu2204-0.8.1_0.8.1-1_arm64.deb
